/* Font */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;400;500;600;700&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #9fecfc;
   font-family: 'MuseoModerno', cursive;
}

.container {
   height: 100vh;
   width: 90%;
   max-width: 1240px;
   padding: 0 2em;
   margin: 0 auto;
   overflow: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #fff;
}

.score {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

h3 {
   text-align: center;
   margin: 0.2em 0;
   padding: 1em 0;
   font-size: 20px;
   color: #fff;
   width: 300px;
   background-color: #294599;
   border-radius: 8px;
}

button {
   width: 160px;
   margin: 2em 0;
   padding: 1em 0;
   cursor: pointer;
   background-color: #44fcc2;
   border: 1px solid #44fcc2;
   font-size: 14px;
   font-weight: bold;
   border-radius: 10px;
}

.game-container {
   display: flex;
   justify-content: center;
}

.grid {
   width: 200px;
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   background-color: #44dafc;
   border-radius: 6px 6px 0 0;
}

.grid div {
   height: 20px;
   width: 20px;
}

.tetromino {
   background-color: #447efc;
   border: 1px #383838 solid;
}

.small-grid {
   margin-left: 50px;
}

.mini-grid {
   width: 80px;
   height: 80px;
   display: flex;
   flex-wrap: wrap;
   background-color: #447efc;
   border-radius: 8px;
}

.mini-grid div {
   height: 20px;
   width: 20px;
}